@import "tailwindcss";

:root {
  --primary: #3E7285;
  --secondary: #7DB8CE;
}

@font-face {
  font-family: 'beiruth';
  src: url('/fonts/lora.ttf');
}
@font-face {
  font-family: 'calligraphy';
  src: url('/fonts/GreatVibes-Regular.ttf');
}
@font-face {
  font-family: 'inter';
  src: url('fonts/Inter-VariableFont_opsz\,wght.ttf');
}

*{
  font-family: 'inter', sans-serif;
}
body{
  background: #f4f3e8;
  width: 100vw;
  overflow-x: hidden;
}

.font-beiruth{
  font-family: 'beiruth';
}

.font-calligraphy{
  font-family: 'calligraphy';
  font-weight: 400;
}
.bg-dark{
      background: #1e1e1e;
}
.bg-light{
    background: #f4f3e8;
}
.text-light{
    color: #f4f3e8;
}
.text-dark{
    color: #202020;
}

/* Global text selection style */
::selection {
  background-color: #ff4775; /* peachy orange for contrast */
  color: #0e1e1e; /* dark text for readability */
}

::-moz-selection {
  background-color: #ffb347;
  color: #0e1e1e;
}



